<?xml version="1.0"?>

<robot name="r2" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
        <mesh filename="package://r2_description/meshes/R2_Feet.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Wite"> <color rgba="0.9 0.9 0.9 1.0"/> </material>
    </visual>
  </link>

  <joint name="left_wheel_joint" type="continuous">
    <origin xyz="0 1 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="left_wheel_link" />
    <axis xyz="0 1 0" rpy="0 0 0" />
    <limit effort="100" velocity="1.0"/>
  </joint>

  <joint name="right_wheel_joint" type="continuous">
    <origin xyz="0 -1 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="right_wheel_link" />
    <axis xyz="0 1 0" rpy="0 0 0" />
    <limit effort="100" velocity="1.0"/>
  </joint>
  
  <link name="left_wheel_link" />
  <link name="right_wheel_link" />

  <joint name="ankle_joint" type="revolute">
    <origin xyz="0 0 0.136726" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="legs_link" />
    <axis xyz="0 1 0" rpy="0 0 0" />
    <limit effort="0" lower="0" upper="0.3054326" velocity="10.0" />
  </joint>

  <link name="legs_link">
    <visual>
      <origin xyz="0 0 -0.136726" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://r2_description/meshes/R2_Legs.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Wite"> <color rgba="0.9 0.9 0.9 1.0"/> </material>
    </visual>
  </link>

  <joint name="shoulder_joint" type="revolute">
    <origin xyz="0 0 0.56548" rpy="0 0 0" />
    <parent link="legs_link" />
    <child link="body_link" />
    <axis xyz="0 1 0" rpy="0 0 0" />
    <limit effort="0" lower="-0.6108652" upper="0" velocity="10.0" />
  </joint>

  <link name="body_link">
    <visual>
      <origin xyz="0 0 -0.702206" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://r2_description/meshes/R2_Body.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Wite"> <color rgba="0.9 0.9 0.9 1.0"/> </material>
    </visual>
  </link>

  <joint name="neck_joint" type="revolute">
    <origin xyz="0 0 0.12687" rpy="0 0 0" />
    <parent link="body_link" />
    <child link="dome_link" />
    <axis xyz="0 0 1" rpy="0 0 0" />
    <limit effort="0" lower="-3.14159" upper="3.14159" velocity="10.0" />
  </joint>

  <link name="dome_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://r2_description/meshes/R2_Dome.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Wite"> <color rgba="0.9 0.9 0.9 1.0"/> </material>
    </visual>
  </link>

  <!-- HEAD-->
  <link name="panel_1">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://r2_description/meshes/Panel1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Blu"> <color rgba="0.1 0.1 0.9 1.0"/> </material>
    </visual>
  </link>

  <joint name="panel_1_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
    <parent link="dome_link" />
    <child link="panel_1" />
  </joint>

  <link name="panel_2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://r2_description/meshes/Panel2.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Blu"> <color rgba="0.1 0.1 0.9 1.0"/> </material>
    </visual>
  </link>

  <joint name="panel_2_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
    <parent link="dome_link" />
    <child link="panel_2" />
  </joint>

  <link name="panel_3">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://r2_description/meshes/Panel3.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Blu"> <color rgba="0.1 0.1 0.9 1.0"/> </material>
    </visual>
  </link>

  <joint name="panel_3_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
    <parent link="dome_link" />
    <child link="panel_3" />
  </joint>

  <link name="panel_4">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://r2_description/meshes/Panel4.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Blu"> <color rgba="0.1 0.1 0.9 1.0"/> </material>
    </visual>
  </link>

  <joint name="panel_4_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
    <parent link="dome_link" />
    <child link="panel_4" />
  </joint>

  <link name="panel_5">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://r2_description/meshes/Panel5.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Blu"> <color rgba="0.1 0.1 0.9 1.0"/> </material>
    </visual>
  </link>

  <joint name="panel_5_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
    <parent link="dome_link" />
    <child link="panel_5" />
  </joint>

  <link name="panel_6">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://r2_description/meshes/Panel6.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Blu"> <color rgba="0.1 0.1 0.9 1.0"/> </material>
    </visual>
  </link>

  <joint name="panel_6_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
    <parent link="dome_link" />
    <child link="panel_6" />
  </joint>

  <link name="panel_7">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://r2_description/meshes/PanelTop.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Blu"> <color rgba="0.1 0.1 0.9 1.0"/> </material>
    </visual>
  </link>

  <joint name="panel_7_joint" type="revolute">
    <origin xyz="0.000835055 -0.135122 0.203276" rpy="0 0 1.5707" />
    <parent link="dome_link" />
    <child link="panel_7" />
    <axis xyz="0 -1 0" rpy="0 0 0" />
    <limit effort="0" lower="0" upper="0.7" velocity="10.0" />
  </joint>

  <link name="panel_8">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://r2_description/meshes/PanelTop.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Blu"> <color rgba="0.1 0.1 0.9 1.0"/> </material>
    </visual>
  </link>

  <joint name="panel_8_joint" type="revolute">
    <origin xyz="0.116446 -0.0678808 0.203276" rpy="0 0 2.6180" />
    <parent link="dome_link" />
    <child link="panel_8" />
    <axis xyz="0 -1 0" rpy="0 0 0" />
    <limit effort="0" lower="0" upper="0.7" velocity="10.0" />
  </joint>

  <link name="panel_9">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://r2_description/meshes/PanelTop.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Blu"> <color rgba="0.1 0.1 0.9 1.0"/> </material>
    </visual>
  </link>

  <joint name="panel_9_joint" type="revolute">
    <origin xyz="0.116446 0.0678808 0.203276" rpy="0 0 3.6652" />
    <parent link="dome_link" />
    <child link="panel_9" />
    <axis xyz="0 -1 0" rpy="0 0 0" />
    <limit effort="0" lower="0" upper="0.7" velocity="10.0" />
  </joint>

  <link name="panel_10">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://r2_description/meshes/PanelTop.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Blu"> <color rgba="0.1 0.1 0.9 1.0"/> </material>
    </visual>
  </link>

  <joint name="panel_10_joint" type="revolute">
    <origin xyz="0.000835055 0.135122 0.203276" rpy="0 0 4.7124" />
    <parent link="dome_link" />
    <child link="panel_10" />
    <axis xyz="0 -1 0" rpy="0 0 0" />
    <limit effort="0" lower="0" upper="0.7" velocity="10.0" />
  </joint>

  <link name="panel_11">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://r2_description/meshes/PanelTop.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Blu"> <color rgba="0.1 0.1 0.9 1.0"/> </material>
    </visual>
  </link>

  <joint name="panel_11_joint" type="revolute">
    <origin xyz="-0.116446 -0.0678808 0.203276" rpy="0 0 0.5236" />
    <parent link="dome_link" />
    <child link="panel_11" />
    <axis xyz="0 -1 0" rpy="0 0 0" />
    <limit effort="0" lower="0" upper="0.7" velocity="10.0" />
  </joint>

  <!-- /HEAD -->
  <joint name="center_leg_joint" type="prismatic">
    <origin xyz="0 0 -0.56548" rpy="0 0 0" />
    <parent link="body_link" />
    <child link="center_leg_link" />
    <axis xyz="0 0 1" rpy="0 0 0" />
    <limit effort="0" lower="0" upper="0.255" velocity="10.0" />
  </joint>

  <link name="center_leg_link">
    <visual>
    <origin xyz="0 0 -0.136726" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://r2_description/meshes/R2_CenterAnkle.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Wite"> <color rgba="0.9 0.9 0.9 1.0"/> </material>
    </visual>
  </link>

  <joint name="center_ankle_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="center_leg_link" />
    <child link="center_foot_link" />
    <axis xyz="0 1 0" rpy="0 0 0" />
    <limit effort="0" lower="0" upper="0.3054326" velocity="10.0" />
  </joint>

  <link name="center_foot_link">
    <visual>
    <origin xyz="0 0 -0.136726" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://r2_description/meshes/R2_Center_Foot.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Wite"> <color rgba="0.9 0.9 0.9 1.0"/> </material>
    </visual>
  </link>

  <xacro:include filename="$(find r2_control)/urdf/r2.control.urdf.xacro" />
    
</robot>
